<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Change Password </h1>

  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">

    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2>Change Password</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">


          <div class="col-md-8 col-md-offset-2">

            <form>

              <input type="hidden" name="_token" value="RxP5kIXt1W0L9N4ySpClVb7CUE0umBWaVd3uZYpD">
              <div class="form-group row">
                <label for="password" class="col-3 col-form-label">New Password</label>
                <div class="col-9">
                  <input class="form-control" type="password" id="password" name="password">

                </div>
              </div>


              <div class="form-group row">
                <label for="password_confirmation" class="col-3 col-form-label">Confirm Password</label>
                <div class="col-9">
                  <input class="form-control" type="password" id="password_confirmation" name="password_confirmation">

                </div>
              </div>


              <hr>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->

    <!-- /.box -->
  </div>
  <!-- /.container -->
</div>
