<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Coin Setting</h1>
  </div>
  <!-- /.container-fluid -->
</div>
<flash-messages></flash-messages>
<div class="admin-content">
  <div class="container-fluid">

    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2>Settings Update</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">


          <div class="col-md-8 col-md-offset-2">

            <form [formGroup]="CoinUpdateForm" novalidate>

              <div class="form-group row">
                <label for="network" class="col-3 col-form-label">Network</label>
                <div class="col-9">
                  <input class="form-control text-uppercase" type="text" value="{{CoinName}}" id="network" name="network"
                    readonly="readonly" #coinName>
                </div>
              </div>


              <div class="form-group row">
                <label for="address" class="col-3 col-form-label">Address</label>
                <div class="col-9">
                  <input class="form-control" type="text" formControlName="Address" #address value="{{Address}}" id="address"
                    name="address">

                </div>
              </div>


              <div class="form-group row">
                <label for="Commission" class="col-3 col-form-label">Internal Commission</label>
                <div class="col-9">
                  <input class="form-control" type="text" name="commission" formControlName="interCommission" id="Commission"
                    placeholder="Commission" value="{{InterCommission}}" #intercommission>
                </div>
              </div>

              <div class="form-group row">
                <label for="Commission" class="col-3 col-form-label">External Commission</label>
                <div class="col-9">
                  <input class="form-control" type="text" formControlName="ExtCommission" name="external_commission" id="Commission"
                    placeholder="External Commission" value="{{ExterCommission}}" #extcommission>
                </div>
              </div>

              <div class="form-group row">
                <label for="Discrepancy" class="col-3 col-form-label">Discrepancy Range</label>
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="number" formControlName="DisFrom" #maxdiscrepancy name="discrepancy_range_from"
                          placeholder="0" value="{{MaxDiscrepancy}}">
                        <small id="emailHelp" class="form-text text-muted">From</small>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="number" formControlName="DisTo" #mindiscrepancy name="discrepancy_range_to"
                          placeholder="0" value="{{MinDiscrepancy}}">
                        <small id="emailHelp" class="form-text text-muted">TO</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="MaxWithdraw" class="col-3 col-form-label">Max Withdrawal</label>
                <div class="col-9">
                  <div class="form-group">
                    <input class="form-control" type="text" id="MaxWithdraw" formControlName="MaxWDPer" #maxwithdraw name="max_amount"
                      placeholder="Maximum " value="{{MaxWithDraw}}">
                    <!-- <small id="emailHelp" class="form-text text-muted">Per</small> -->
                  </div>
                </div>
              </div>


              <div class="form-group row">
                <label for="single_withdraw_limit" class="col-3 col-form-label">Single Withdraw Limit</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="single_withdraw_limit" name="single_withdraw_limit"
                    placeholder="Single Withdraw Limit" value="{{SingleWithdraw}}" formControlName="SingleLimit"
                    #singlewithdraw>
                </div>
              </div>

              <div class="form-group row">
                <label for="minimum_withdraw" class="col-3 col-form-label">Minimum Withdraw</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="minimum_withdraw" name="minimum_withdraw" placeholder="Minimum Withdraw"
                    value="{{MiniWithDraw}}" formControlName="MinWithdraw" #miniwuthdraw>
                </div>
              </div>


              <div class="form-group row">
                <label for="total_confirm" class="col-3 col-form-label">Total Confirmation</label>
                <div class="col-9">
                  <input class="form-control" type="text" formControlName="TotalConf" #confirmation id="total_confirm"
                    name="total_confirm" placeholder="Total Confirmations" value="{{Confirmation}}">
                </div>
              </div>


              <div class="form-group row">
                <label for="hot_wallet" class="col-3 col-form-label">Hot/Cold/Withdraw Wallet Ratio</label>
                <div class="col-3">
                  <input class="form-control" type="text" id="hot_wallet" formControlName="HotWallet" #hotratio name="hot_wallet"
                    placeholder="Hot Wallet" value="{{HotRation}}">
                  <small class="form-text text-muted">Hot Wallet Ratio</small>

                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="cold_wallet" formControlName="ColdWallet" #coldratio
                    name="cold_wallet" placeholder="Cold Wallet" value="{{ColdRatio}}">
                  <small class="form-text text-muted">Cold Wallet Ratio</small>

                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="cold_wallet" formControlName="WithDrawWallet"
                    #widthdrawratio name="withdraw_wallet" placeholder="Withdraw Wallet" value="{{WithDrawRatio}}">
                  <small class="form-text text-muted">Withdraw Wallet Ratio</small>
                </div>
              </div>
              <hr>
              <!-- [disabled]="CoinUpdateForm.pristine || CoinUpdateForm.invalid"  -->
              <div class="form-group">
                <button type="button" (click)="UpdateValues(address.value, intercommission.value,
                extcommission.value, maxdiscrepancy.value, mindiscrepancy.value,maxwithdraw.value,
                singlewithdraw.value, miniwuthdraw.value, confirmation.value, hotratio.value, coldratio.value,
                widthdrawratio.value)"
                  class="btn btn-primary">Save</button>
                <!-- <button type="button" class="btn btn-danger">Cancel</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->

    <!-- /.box -->
  </div>
  <!-- /.container -->
</div>
