<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Coin Setting</h1>
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">

    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2>Settings Update</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">


          <div class="col-md-8 col-md-offset-2">

            <form>

              <div class="form-group row">
                <label for="network" class="col-3 col-form-label">Network</label>
                <div class="col-9">
                  <input class="form-control" type="text" value="QTUM" id="network" name="network" readonly="readonly">
                  <input type="hidden" name="coin_id" value="1">
                </div>
              </div>


              <div class="form-group row">
                <label for="address" class="col-3 col-form-label">Address</label>
                <div class="col-9">
                  <input class="form-control" type="text" value="RKQqYVBPTVajCzSLk27s5RRV9U5mgGBY4B" id="address" name="address">

                </div>
              </div>


              <div class="form-group row">
                <label for="Commission" class="col-3 col-form-label">Internal Commission</label>
                <div class="col-9">
                  <input class="form-control" type="text" name="commission" id="Commission" placeholder="Commission"
                    value="0.00020000">
                </div>
              </div>

              <div class="form-group row">
                <label for="Commission" class="col-3 col-form-label">External Commission</label>
                <div class="col-9">
                  <input class="form-control" type="text" name="external_commission" id="Commission" placeholder="External Commission"
                    value="0.00020000">
                </div>
              </div>


              <div class="form-group row">
                <label for="Balance" class="col-3 col-form-label">Required Balance</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="Balance" name="required_balance" placeholder="Required Balance"
                    value="0.00000000">
                </div>
              </div>


              <!--
                <div class="form-group row">
                  <label for="Discrepancy" class="col-3 col-form-label">Discrepancy Range</label>
                  <div class="col-9">
                    <input class="form-control" type="text" id="Discrepancy" name="discrepancy_range" placeholder="Discrepancy Range" value="0|10">
                                            </div>
                </div>
                -->


              <div class="form-group row">
                <label for="Discrepancy" class="col-3 col-form-label">Discrepancy Range</label>
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="number" name="discrepancy_range_from" placeholder="0" value="0">
                        <small id="emailHelp" class="form-text text-muted">From</small>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="number" name="discrepancy_range_to" placeholder="0" value="10">
                        <small id="emailHelp" class="form-text text-muted">TO</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="MaxWithdraw" class="col-3 col-form-label">Max Withdrawal</label>
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="text" id="MaxWithdraw" name="max_amount" placeholder="Maximum "
                          value="1000.00000000">
                        <small id="emailHelp" class="form-text text-muted">Per</small>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <input class="form-control" type="text" id="num_day" name="num_day" placeholder="Day" value="1">
                        <small id="emailHelp" class="form-text text-muted">Day</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group row">
                <label for="single_withdraw_limit" class="col-3 col-form-label">Single Withdraw Limit</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="single_withdraw_limit" name="single_withdraw_limit"
                    placeholder="Single Withdraw Limit" value="100.00000">
                </div>
              </div>

              <div class="form-group row">
                <label for="minimum_withdraw" class="col-3 col-form-label">Minimum Withdraw</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="minimum_withdraw" name="minimum_withdraw" placeholder="Minimum Withdraw"
                    value="0.0000400">
                </div>
              </div>


              <div class="form-group row">
                <label for="manual_withdraw" class="col-3 col-form-label">Manual External Withdraw</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="manual_withdraw" name="manual_withdraw" placeholder="Manual Withdraw"
                    value="0.5000000">
                </div>
              </div>


              <div class="form-group row">
                <label for="manual_withdraw_internal" class="col-3 col-form-label">Manual Internal Withdraw</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="manual_withdraw_internal" name="manual_withdraw_internal"
                    placeholder="Manual Internal Withdraw" value="0.0000">
                </div>
              </div>


              <div class="form-group row">
                <label for="total_confirm" class="col-3 col-form-label">Total Confirmation</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="total_confirm" name="total_confirm" placeholder="Total Confirmations"
                    value="4">
                </div>
              </div>


              <div class="form-group row">
                <label for="hot_wallet" class="col-3 col-form-label">Hot/Cold/Withdraw Wallet Ratio</label>
                <div class="col-3">
                  <input class="form-control" type="text" id="hot_wallet" name="hot_wallet" placeholder="Hot Wallet"
                    value="20">
                  <small class="form-text text-muted">Hot Wallet Ratio</small>

                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="cold_wallet" name="cold_wallet" placeholder="Cold Wallet"
                    value="80">
                  <small class="form-text text-muted">Cold Wallet Ratio</small>

                </div>
                <div class="col-3">
                  <input class="form-control" type="text" id="cold_wallet" name="cold_wallet" placeholder="Withdraw Wallet"
                    value="80">
                  <small class="form-text text-muted">Withdraw Wallet Ratio</small>
                </div>
              </div>


              <div class="form-group row">
                <label for="minimum_split" class="col-3 col-form-label">Automatic Withdraw: On/Off</label>
                <div class="col-1">
                  <label class="switch">
                    <input type="checkbox" (click)="TurnOn()" >
                    <span class="slider round"></span>
                  </label>
                </div>
                <div class="col-8" *ngIf="ShowValue">
                  <input class="form-control" type="text" id="minimum_split" name="minimum_split" placeholder="Enter Value"
                    value="100.00000000">
                </div>
              </div>
              <div class="form-group row">
                <label for="minimum_split" class="col-3 col-form-label">Minimum Split</label>
                <div class="col-9">
                  <input class="form-control" type="text" id="minimum_split" name="minimum_split" placeholder="Minimum Split"
                    value="100.00000000">
                </div>
              </div>



              <hr>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->

    <!-- /.box -->
  </div>
  <!-- /.container -->
</div>
