.admin-page-title-back {
  border: 2px solid #eeeeee;
  border-radius: 50%;
  color: #d5d5d5;
  display: inline-block;
  font-size: 11px;
  height: 28px;
  line-height: 20px;
  /* padding-top: 16px; */
  margin: 0 13px 0 0;
  padding: 3px 6px;
  text-align: center;
  transition: all .2s ease;
  vertical-align: middle;
  width: 28px;
}
