<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>User Details - QTUM</h1>
    <div class="admin-page-title-actions">


      <div class="btn-group" role="group" hidden>
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          Select Currency
        </button>
        <div class="dropdown-menu">

          <a class="dropdown-item  active " href="#">
            QTUM
          </a>
        </div>
      </div>

    </div>
    <!-- /.admin-page-title-actions -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">
    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2><i class="fa fa-user"></i> User Details</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">

          <div class="col-md-12">
            <!-- Information  -->
            <div class="container row">
              <div class="col-sm-6">
                <div class="overview">
                  <h3 class="page-title-small">Information</h3>
                  <ul>
                    <li><strong>Name</strong><span>{{FullName}}</span></li>
                    <li><strong>Phone</strong><span>{{Phone}}</span></li>
                    <li><strong>E-mail</strong><span>{{Email}}</span></li>
                    <li><strong>Address</strong><span>{{Address}}</span></li>
                    <li><strong>Email Verified</strong>
                      <span class="red" *ngIf="EmailVerified === 0">
                          <i class="far fa-times-circle"></i>
                        </span>
                        <span class="green" *ngIf="EmailVerified === 1">
                          <i class="far fa-check-circle"></i>
                        </span>
                      </li>
                    <li><strong>Login Status</strong>
                      <span class="red" *ngIf="LoginStatus === 0">
                          <i class="far fa-times-circle"></i>
                        </span>
                        <span class="green" *ngIf="LoginStatus === 1">
                          <i class="far fa-check-circle"></i>
                        </span>
                    </li>
                    <li hidden><strong>Restricted</strong><span>Yes</span></li>
                    <li hidden><strong>Restricted Type</strong><span>No Restriction</span></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="overview">
                  <h3 class="page-title-small">&nbsp;</h3>
                  <ul>
                    <li><strong>Balance</strong><span>{{Balance}} QTUM</span></li>
                    <li><strong>Total Deposit</strong> <span> QTUM</span></li>
                    <li><strong>Total Withdraw</strong> <span> QTUM</span></li>
                    <li><strong>Discrepancy</strong> <span> QTUM</span></li>
                    <li><strong>Commission</strong> <span>{{Comission}} QTUM</span></li>
                    <li><strong>Network Fee</strong> <span> QTUM</span></li>
                    <li><strong>Date Registered</strong> <span>{{RegisterDate | slice:0:10}} {{RegisterDate | slice:11:19}}</span></li>
                    <li><strong>Last Login</strong> <span>{{LastLoginDate | slice:0:10}} {{LastLoginDate | slice:11:19}}</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--  Information  -->
            <div class="clearfix"></div>

            <h3 class="page-title-small">Transactions - <a href="#">{{Email}}</a></h3>

            <!-- table -->
          </div>
        </div>
      </div>
      <!-- /.box-inner -->
    </div>
  </div>
  <!-- /.container -->
</div>
