<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Withdraw History - <app-coin-name></app-coin-name></h1>
    <div class="admin-page-title-actions">
      <button type="submit" class="btn btn-danger"><i class="fas fa-download"></i> Export All</button>
    </div>
    <!-- /.admin-page-title-actions -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">

    <div class="table-header clearfix">
      <div class="table-header-count">
        <h3>Withdraw History</h3>
      </div>
      <!-- /.table-header-count -->
      <div class="table-header-actions" hidden>
        <h3>Total Withdraw: <span class="total_label">0.88100000 <app-coin-name></app-coin-name></span></h3>
      </div>
      <!-- /.table-header-actions -->
    </div>
    <!-- table -->
    <div *ngIf="DataShow">
      <div *ngIf="!DataArry">
        <app-no-data></app-no-data>
      </div>
      <div *ngIf="DataArry" class="table-responsive">
        <table datatable class="table table-striped dt-responsive nowrap table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Sender Address</th>
              <th>Receiver Address</th>
              <th>Amount</th>
              <th>Transaction Type</th>
              <th>Fee</th>
              <th>Status</th>
              <th>Date Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of Data; let i = index">
              <td>{{data.id}}
                <button type="button" class="btn btn-secondary txid" data-toggle="tooltip" data-placement="right" [title]="data.txId">
                  TxID
                </button>
              </td>
              <td>{{data.senderAddress}}</td>
              <td>{{data.reciverAddress}}</td>
              <td>{{data.amount}}</td>
              <td>
                  <span class="green" *ngIf="data.transactionType === 'receive'"><i class="far fa-arrow-alt-circle-down"></i> </span>
                  <span class="red" *ngIf="data.transactionType === 'send'"><i class="far fa-arrow-alt-circle-up"></i> </span>
                  <span class="yellow" *ngIf="data.transactionType === 'Internal'"><i class="fas fa-sync-alt"></i></span>
                <!-- {{data.transactionType}} -->

              </td>
              <td>{{data.fee}}</td>
              <td>
                <span class="green" *ngIf="data.status === 'Approved'"><i class="far fa-check-circle"></i> </span>
                <span class="red" *ngIf="data.status === 'Rejected'"><i class="far fa-times-circle"></i> </span>
                <!-- {{data.status}} -->
              </td>
              <td>{{data.updatedAt | slice:0:10}} {{data.updatedAt | slice:11:19}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Sender Address</th>
              <th>Receiver Address</th>
              <th>Amount</th>
              <th>Transaction Type</th>
              <th>Fee</th>
              <th>Status</th>
              <th>Date Time</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div *ngIf="!DataShow && !DataLoaded">
      <app-loading></app-loading>
    </div>

    <div *ngIf="DataLoaded && !DataArry">
      <app-no-data></app-no-data>
    </div>
  </div>
</div>
