<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Support Detail </h1>

  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">



    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2><i class="fa fa-phone"></i> Support Details</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">

          <div class="col-md-12">

            <!-- Information  -->

            <div class="container row">
              <div class="col-sm-6">
                <div class="overview">
                  <h3 class="page-title-small">Information</h3>
                  <ul>
                    <li><strong>Name</strong><span>waseem</span></li>
                    <li><strong>E-mail</strong><span><a href="#">message2waseem@hotmail.com</a></span></li>
                    <li><strong>Date</strong><span>2019-01-06 17:14:47</span></li>
                    <li><strong>Subject</strong><span><a href="#">hello support</a></span></li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="overview">
                  <h3 class="page-title-small">Message</h3>
                  <p>
                    whatsup :)
                  </p>
                </div>

              </div>

            </div>



            <!--  Information  -->
            <div class="clearfix"></div>




          </div>


          <div class="clearfix">&nbsp;</div>

        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
      <!-- /.box-inner -->
    </div>

    <div class="clearfix">&nbsp;</div>


  </div>
  <!-- /.container -->


  <div class="clearfix">&nbsp;</div>
</div>
