<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Coin Available</h1>
    <!-- /.admin-page-title-actions -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid" *ngIf="Data">


    <div class="table-header clearfix">
      <div class="table-header-count">

      </div>
      <!-- /.table-header-count -->
      <div class="table-header-actions">

        <!--
              <a href="http://51.75.205.218:3001/coins/add" class="btn btn-primary" style="color:white"><i class="fa fa-plus"></i> Add Coin</a>
            -->


      </div>
      <!-- /.table-header-actions -->
    </div>
    <!-- /.table-header -->
    <div class="table-wrapper">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="min-width center">No</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Hot Wallet</th>
            <th>Withdraw Wallet</th>
            <th>Fee</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of CoinList">
            <td class="min-width center id">{{data.id}}</td>
            <td class="center">
              <i class="cc QTUM"></i>
            </td>
            <td> {{data.name}} </td>
            <td> {{data.name}} </td>
            <td> {{data.hotBalance}}</td>
            <td> {{data.withdrawBalance}}</td>
            <td> {{data.fee}}</td>
            <td class="">
              <ul>
                <li hidden> <a [routerLink]="['edit']" class="btn btn-warning pull-right">
                    <i class="fas fa-pencil-alt"></i> Edit
                  </a></li>
                <li> <a [routerLink]="['update',data.id]" class="btn btn-primary pull-right">
                    <i class="fa fa-cogs"></i> Settings
                  </a></li>
                <li hidden> <button class="btn btn-danger pull-right"><i class="fa fa-times"></i> Delete</button></li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>




  </div>
  <div class="container-fluid" *ngIf="!Data">
    <app-no-data></app-no-data>
  </div>
  <div class="container-fluid" *ngIf="Loading">
    <app-loading></app-loading>
  </div>
  <div class="conatiner-fluid" *ngIf="Error">
    <app-api-error></app-api-error>
  </div>
</div>
