<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Coin Available</h1>
    <!-- /.admin-page-title-actions -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">


    <div class="table-header clearfix">
      <div class="table-header-count">

      </div>
      <!-- /.table-header-count -->
      <div class="table-header-actions">

        <!--
              <a href="http://51.75.205.218:3001/coins/add" class="btn btn-primary" style="color:white"><i class="fa fa-plus"></i> Add Coin</a>
            -->


      </div>
      <!-- /.table-header-actions -->
    </div>
    <!-- /.table-header -->
    <div class="table-wrapper">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="min-width center">No</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Hot Wallet</th>
            <th>Cold Wallet</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="min-width center id">1</td>
            <td class="center">
              <img src="http://51.75.205.218:3001/images/63f9e77f-83d5-4331-a5cd-65f6da0e581a.png" alt="QTUM">
            </td>
            <td> <a href="#"> QTUM </a> </td>
            <td> QTUM </td>
            <td> 1.23245000</td>
            <td> 1.03840000</td>
            <td class="">
              <ul>
                <li> <a [routerLink]="['edit']" class="btn btn-warning pull-right" >
                    <i class="fas fa-pencil-alt"></i> Edit
                  </a></li>
                <li> <a [routerLink]="['update']" class="btn btn-primary pull-right">
                    <i class="fa fa-cogs"></i> Settings
                  </a></li>
                <li> <button class="btn btn-danger pull-right"><i class="fa fa-times"></i> Delete</button></li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>




  </div>
