<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Cold Wallets</h1>
  </div>
  <!-- /.container-fluid -->
</div>
<div class="admin-content">
  <div class="container-fluid">


    <div class="table-header clearfix">
      <div class="table-header-count">

      </div>
      <!-- /.table-header-count -->
      <div class="table-header-actions">

        <!--
            <a href="http://51.75.205.218:3001/coldwallets/add" class="btn btn-primary" style="color:white"><i class="fa fa-plus"></i> Add Cold Wallet</a>
            -->


      </div>
      <!-- /.table-header-actions -->
    </div>
    <!-- /.table-header -->
    <div class="table-wrapper">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="min-width center">No</th>
            <th>Coin</th>
            <th>Address</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of CoinList">

            <td class="min-width center id">1</td>
            <td class="center">
              <i class="cc QTUM"></i>
            </td>
            <td>{{data.coldWalletAddress}}</td>
            <td class="price">
              {{data.coldBalance}}
            </td>
            <td class="">
              <a [routerLink]="['modify', data.id]" class="btn btn-success pull-right" style="color:white; margin-right: 5px">
                <i class="fa fa-cogs"></i> Update
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-fluid" *ngIf="!Data">
    <app-no-data></app-no-data>
  </div>
  <div class="container-fluid" *ngIf="Loading">
    <app-loading></app-loading>
  </div>
  <div class="conatiner-fluid" *ngIf="Error">
    <app-api-error></app-api-error>
  </div>
</div>
