<div class="admin-page-title">
  <div class="container-fluid">
    <app-back-btn></app-back-btn>
    <h1>Modify Cold Wallet</h1>

  </div>
  <!-- /.container-fluid -->
</div>

<div class="admin-content">
  <div class="container-fluid">

    <div class="box">
      <div class="box-inner">
        <div class="box-title">
          <h2>Modify Cold Wallet</h2>
        </div>
        <!-- /.box-title -->
        <div class="row">


          <div class="col-md-8 col-md-offset-2">

            <form>


              <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Cold Wallet Address</label>
                <div class="col-9">
                  <input type="text" name="wallet_address" id="name" class="form-control" value="RCioVUPmTnK8NrpUB9U3mWefcDiW6nwTQP">


                </div>
              </div>


              <div class="form-group row">
                <label for="name" class="col-3 col-form-label"> Coin</label>
                <div class="col-9">

                  <input type="hidden" name="coin_id" value="1">
                  <input type="text" class="form-control" value="QTUM" readonly="readonly">

                </div>
              </div>
              <hr>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" >Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.box-inner -->
    </div>
    <!-- /.box -->

    <!-- /.box -->
  </div>
  <!-- /.container -->
</div>
